
menu "Device Identity"

config USB_MANUFACTURER_STRING
    string "USB Manufacturer String"
    default "Nordic Semiconductor ASA"

config USB_PRODUCT_STRING
    string "USB Product String"
    default "XDS_T800_Broker"

endmenu