# Not recommended for typical head-unit connections.
CONFIG_BT_PRIVACY=y
# scale ADC reading by 605/600
CONFIG_BATTERY_GAUGE_ADC_REFERENCE_VOLTAGE=605

# enhanced resilience against firmware bugs by 
# rebooting instead of bailing to bootloader
# might cause boot-loop on hardware variants that lack a RESET button
CONFIG_RESET_ON_FATAL_ERROR=y

CONFIG_BT_DEVICE_NAME="ZX25T_EMU"

CONFIG_BT_DIS_MANUF_NAME=y
CONFIG_BT_DIS_MANUF_NAME_STR="CRRC"
CONFIG_BT_DIS_MODEL_NUMBER_STR="CR50J"
CONFIG_BT_DIS_HW_REV=y
CONFIG_BT_DIS_HW_REV_STR="CR50J"


# alternative battery gauge for 18650
CONFIG_BATTERY_CELL_COUNT=1
CONFIG_BATTERY_GAUGE_VOLTAGE_TABLE_100=4100
CONFIG_BATTERY_GAUGE_VOLTAGE_TABLE_90=3950
CONFIG_BATTERY_GAUGE_VOLTAGE_TABLE_80=3600
CONFIG_BATTERY_GAUGE_VOLTAGE_TABLE_70=3500
CONFIG_BATTERY_GAUGE_VOLTAGE_TABLE_60=3400
CONFIG_BATTERY_GAUGE_VOLTAGE_TABLE_50=3350
CONFIG_BATTERY_GAUGE_VOLTAGE_TABLE_40=3300
CONFIG_BATTERY_GAUGE_VOLTAGE_TABLE_30=3250
CONFIG_BATTERY_GAUGE_VOLTAGE_TABLE_20=3200
CONFIG_BATTERY_GAUGE_VOLTAGE_TABLE_10=3150
