# Not recommended for typical head-unit connections.
CONFIG_BT_PRIVACY=y
# scale ADC reading by 100.5%
CONFIG_BATTERY_GAUGE_ADC_SCALE=1005

CONFIG_BT_DEVICE_NAME="ZX25T_EMU"

CONFIG_BT_DIS_MANUF_NAME=y
CONFIG_BT_DIS_MANUF_NAME_STR="CRRC"
CONFIG_BT_DIS_MODEL_NUMBER_STR="CR50J"
CONFIG_BT_DIS_HW_REV=y
CONFIG_BT_DIS_HW_REV_STR="CR50J"
